.header {
  color: #ee6e73;
  font-weight: 300;
}


#link_to_article {
  border-style: solid;
  color:black;
  border-color: rgba(224, 66, 66, 0.699);
  background-color: #8fd1c680;
  border-width: 3px;
  border-radius:5px;
  padding: 10px;
  margin: 0px 50px 0px 00px;
}


#article_title {
  background-color: #8fd1c680
}

#float_left {
  float:left;
}

#title {
  font-size:20px;
  float:left;

}

#border {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;
  padding: 15px;
  
}

#comment {
  float:right;
}