.header {
  color: #ee6e73;
  font-weight: 300;
}


#link_to_article {
  border-style: solid;
  color:black;
  border-color: rgba(224, 66, 66, 0.699);
  background-color: #8fd1c680;
  border-width: 3px;
  border-radius:5px;
  padding: 10px;
  margin: 0px 50px 0px 00px;
}

.delete {
  border-style: solid;
  color:black;
  border-color: rgba(224, 66, 66, 0.699);
  background-color: #8fd1c680;
  border-width: 3px;
  border-radius:5px;
  padding: 10px;
  margin: 0px 50px 0px 00px;
}

#open_comment {
  border-style: solid;
  color:black;
  border-color: rgba(224, 66, 66, 0.699);
  background-color: #8fd1c680;
  border-width: 3px;
  border-radius:5px;
  padding: 10px;
  margin: 0px 50px 0px 00px;
}


#article_title {
  background-color: #8fd1c680
}

#float_left {
  float:left;
}

.title {
  font-size:20px;
  float:left;

}

#border {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;
  padding: 15px;
  
}

#comment {
  float:right;
}


/* //POPUP WINDOW */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}